body {
    background: rgb(20, 13, 43);
    font: normal 15pt Arial;
    color: white;
}

#div_global{
    text-align: center;
    width: 600px;
    margin: auto;
    background: rgba(255, 255, 255, 0.349);
    border-radius: 50px;
    padding: 25px;
}

.in{
    text-align: center;
    background: rgba(0, 0, 0, 0.473);
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.input_relogio{
    border: none;
    border-radius: 8px;
    height: 25px;
    width: 50px;
    text-align: center;
}

#def {
    background: #ffffff;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 70px;
    color: black;
    transition: .2s;
}
#def:hover{
    background: rgba(0, 0, 0, 0.473);
    color: white;
    cursor: pointer;
}

div{
    margin-top: 10px;
}