body {
    
    /*manter todo conteudo da página centralisado sem a necessidade de gambiarras*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    text-align: center;
    background: rgb(20, 13, 43);
    font: normal 15pt Arial;
    color: white;
}

.in{
    text-align: center;
    background: rgba(0, 0, 0, 0.473);
    color: white;
    padding: 15px;
    width: 30px;
    border-radius: 15px;
}

div{
    padding: 5px;
}

#section_global{
    background: rgba(255, 255, 255, 0.349);
    border-radius: 50px;
    padding: 10px;
}

.def {
    background: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: black;
    transition: .2s;

}
.def:hover{
    background: rgba(0, 0, 0, 0.473);
    color: white;
    cursor: pointer;
}

.put{
    border-radius: 8px;
    height: 40px;
    width: 150px;
    background: rgba(0, 0, 0, 0.473);
    color: white;
    text-align: center;
}