body {
    text-align: center;
    background: rgb(17, 9, 44);
    font: normal 15pt Arial;
    color: white;
}

#in{
    text-align: center;
    background: rgba(4, 46, 66, 0.644);
    color: white;
    padding: 25px;
    width: 100px;
    border-radius: 15px;
}



#section_global{
    background: rgba(8, 90, 128, 0.281);
    border-radius: 50px;
    margin: 100px;
}

p {
    width: auto;
    height: 50px;
}

div{
    padding: 25px;
}